.imgcontainer{
   text-align:center;
   position: relative;
   display:block;
}
.imagetexte{
   display: inline-block;
   position : relative;
   margin : 10px -2px; 
   cursor:pointer;
}



.img{
   width: 500px;
   height: 333px;
   border-style:solid;
   z-index:1;
}

 .text {
   opacity:0;
   text-align: center;
   position: absolute;
   transform: translate(-50%, -50%);
   width: 100%;
   left: 50%;
   top: 50%;
  }

  .bandefond{
   background: #8d9bab;
   background: -moz-linear-gradient(left, #8d9bab 10%, #707274 50%, #8d9bab 85%);
   background: -webkit-linear-gradient(left, #8d9bab 10%,#707274 50%,#8d9bab 85%);
   background: linear-gradient(to right, #8d9bab 10%,#707274 50%,#8d9bab 85%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d9bab', endColorstr='#8d9bab',GradientType=1 );
   margin: 10px;
}

@media (max-width:1550px) {
   .imagetexte{
      margin : 0px -2px;
   }
}










.carousel-inner{
   margin-top:30px;
}

.textecaroussel{
   font-size: 3vw;
   margin-bottom: 45%;
} 

@media (max-width:1200px) {
   .textecaroussel{
      margin-bottom: 43%;
   }
 }

@media (max-width:990px) {
   .textecaroussel{
      margin-bottom: 38%;
   }
 }




