.imgcontainer{
   text-align:center;
   position: relative;
   display:block;
}
.imagetexte{
   display: inline-block;
   position : relative;
   margin : 10px -2px; 
   cursor:pointer;
   
}



.img{
   width: 500px;
   height: 333px;
   border-style:solid;
   z-index:1;
   object-fit: cover;
}

 .text {
   opacity:0;
   text-align: center;
   position: absolute;
   transform: translate(-50%, -50%);
   width: 100%;
   left: 50%;
   top: 50%;
   font-weight:bold;
   color:black;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
   font-size : 20px;
   

   

  }

  .imagetexte a{
   text-decoration: none;
   color:black;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  .bandefond{
   background:#fffaea;
}

@media (max-width:1550px) {
   .imagetexte{
      margin : 0px -2px;
   }
}

@media (max-width:1000px){
   .containerCaroussel{
      display:none;
   }
}







.containerCaroussel{
   
   width: 100%;
   margin-top:30px;
   margin-bottom: 50px;
   padding-right: 0;
   padding-left: 0;

}

.item{
   
   padding-bottom:100px;
   text-align:center;
  
   
}

.carousel-inner{

   height: 333px;
   
   
}
.carousselhover{
   height: 333px;
   position:absolute;
   width:100%;
   object-fit:cover;
}
.textecaroussel{
   font-size: 70px;
   text-align: center;
   position: absolute;
   transform: translate(-50%, -50%);
   width: 100%;
   left: 50%;
   top: 100px;
   color:black;
   z-index:100;
   font-family:Courier, monospace;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
   

   
} 

@media (max-width:1200px) {
   .textecaroussel{
      margin-bottom: 43%;
   }
 }

@media (max-width:990px) {
   .textecaroussel{
      margin-bottom: 38%;
   }
 }






