

hr
{
padding:2px;
background:rgb(115, 115, 160);
border:0;
border-radius: 100%;
}

.button-activite
{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background: #6C7A86;
  transition:background-color 0.25s;
  outline:none;
}


.vitrine
{

  opacity: 1.0;
  margin:0;
  max-width:90vw;
  height:50vh;
  object-fit: cover;
}

.divv
{
  border-radius:5px;
  padding:1px;
  color: #37434d;
}

.divv:hover {
background-color:#b7b7b7;
}

.description {
  height:25vh;
  overflow: hidden;

}

.prochaine-activite {

}

.image-activite {
  height:300px;
  width:300px;
  object-fit: cover;
}

.no-image {
  height:300px;
  width:300px;
  text-align:center;
  
}

.center {
  text-align:center;
}

.row
{
  margin-bottom:10px;
}

.upvote:hover
{
  opacity: 0.8;
}

a:link 
{ 
text-decoration:none; 
color: #333333;
} 



img:hover
{
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


/* =========== AJOUT / SUPPRESION ACTIVITES =========== */
form label {
  display:block;
}

form input {
  width:100%;
}

form textarea {
  width:100%;
  height:250px;
  resize: none;
}

form button[type='submit'] {
  margin :5px 0;
}
.right{
  text-align: right;
}

.suppression {
  border: solid 1px #6C7A86;
  border-radius: 10px;
  margin:3px;
  padding:3px;
  vertical-align: middle;
}
.suppression button{
  margin-right:5px;

}

.titre-suppression,.suppression button {
  padding:5px;
  font-size:15px;
  display:inline;
}


/*

@media (max-width:440px) {
    .divv{
        height:220px;
    }
  }
  */