

hr
{
padding:2px;
background:rgb(115, 115, 160);
border:0;
border-radius: 100%;
}


.vitrine
{
  width: 70%;
  height: auto;
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.divv
{
  color: #333333;
  height:220px;
}



.row
{
  margin-bottom:50px;
}

.upvote:hover
{
  opacity: 0.8;
}

a:link 
{ 
text-decoration:none; 
color: #333333;
} 

.butt:hover
{
  background-color:#ebeff1;
  color: #6C7A86;
}

img:hover
{
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

@media (max-width:767px) {
    .divv{
        height:175px;
    }
  }

@media (max-width:740px) {
    .divv{
        height:180px;
    }
  }

@media (max-width:590px) {
    .divv{
        height:200px;
    }
  }

@media (max-width:500px) {
    .divv{
        height:200px;
    }
  }

@media (max-width:440px) {
    .divv{
        height:220px;
    }
  }