/*Debut copie css*/

.categories
{
    background-color: #8a9aac;
    margin: 5vh 0vh 0vh 0vh;
}

.diffidee
{
    background: #c7ced3;
    margin-bottom: 2vh;
    padding-top: 1%;
    width: 100%;
}

.div-img
{
    width: 10%;
}

.img
{
    width: 100%;
    margin-bottom: 1vh
}

.idee
{
    width: 78%;
}

.like-upvote
{
    width: 100px;
    text-align: center;
}

/*Fin copie css*/

hr
{
    padding: 2px;
    background:rgb(115, 115, 160);
    border:0;
    border-top-right-radius: 100%;
}

.like
{
  color:#131212;
  margin-top:3px;
  visibility:visible;
  float:left;
}

.texte
{ 
  font-size: 1.5vw;
  color: #333333;
}

.butt
{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background: #6C7A86;
  transition:background-color 0.25s;
  outline:none;
}


.right {
    text-align:right;
}

/* ============== COMMENTAIRES ============== */
.commentaire {
    text-align:left;
    margin-top:10px;
}

.commentaires {
    margin-top:10px;
}
.panel-body {
    overflow-wrap: break-word;
}

/* ============== MODAL (AJOUT DE PHOTO) ============== */
#ajouter-photo {
    text-align:left;
}

#ajouter-photo input[type="submit"] {
    text-align:right;
}



/* ==============  DESCRIPTION  ============== */

.description
{
    background: #c7ced3;
    margin-bottom: 2vh;
    padding-top: 1%;
    width: 100%;

}

.infos {
    background-color: #8a9aac;
    margin: 10vh 0vh 2vh 0vh;
}

/* ============== IMAGES + LIKES ============== */

.images { /* conteneur global  */
    display:inline-block;
    width:100%;
}

.image-container { /* contient l'image + les like */
   display:inline-block;
   margin:5px;
}

.like-texte
{ 
  font-size: 1.5vw;
  color: #333333;
  display:inline-block;
 
}

.upvote {
    display:inline-block;
    font-size: 30px;
}

.upvote:hover,.active 
{ 

  color: #184896;
}


.image-activite{
    width:500px;
    height:300px;
    object-fit: cover;
}

.no-image {
    border-radius:50px;
    background:#a9acb2;
    border : 2px solid gray;
}


.img-chat {
    position:relative;
}

/*  Zone contenant tous les commentaires  */
.commentaires-image {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y:scroll;
    bottom:0;
    right:0;
    height:100%;
    background: linear-gradient(to right,black, transparent);
    width:100%;

  }
  

/* Un commentaire sous une image */
  .commentaire-image{

    width:40%;
    color:white;
    margin:25px;
    background : #3a3a3a;
    border-radius: 15px;
    left:0;
    transition: all .2s ease-in-out;
  }

.commentaire-image:hover {
    transform: scale(1.05);
}


.ecrire-commentaire-image textarea {
    margin-top:5px;
    width:100%;
    border-radius:5px;
    line-height:2;
    resize: none;
}

