
hr
{
padding:2px;
background:rgb(115, 115, 160);
border:0;
border-radius: 100%;
}

.like
{
  color:#131212;
  margin:3px;
}

.texte
{ 
  font-size: 1.5vw;
  color: #333333;
}

.butt
{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background: #6C7A86;
  transition:background-color 0.25s;
  outline:none;
}

.commentaire {
    text-align:left;
}

.right {
    text-align:right;
}

.panel-body {
    overflow-wrap: break-word;
}

#ajouter-photo {
    text-align:left;
}

#ajouter-photo input[type="submit"] {
    text-align:right;
}

/* ============== IMAGES + LIKES ============== */

.images { /* conteneur global  */
    display:inline-block;
}

.image-container { /* contient l'image + les like */
   display:inline-block;
}

.like-texte
{ 
  font-size: 1.5vw;
  color: #333333;
  display:inline-block;
}

.upvote {
    display:inline-block;
    font-size: 1.5vw;
}

.upvote:hover,.active 
{ 

  color: #184896;
}


.image-activite{
    width:500px;
    height:300px;
    object-fit: cover;
}






