.titre {
    padding: 0px 0px 20px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categories
{
    background-color: #ffc252;
    margin: 10vh 0vh 2vh 0vh;
}

.lien
{
    background: #ffffff;
    margin-bottom: 2vh;
    padding: 1%;
    width: 100%;
    text-align: left;
}

hr
{
    padding: 2px;
    background:black;
    border:0;
    border-top-right-radius: 100%;
    margin: 1vh 0vh -5vh 0vh;
    width: 100%;
}