.titre {
    padding: 0px 0px 20px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categories
{
    background-color: #8a9aac;
    margin: 10vh 0vh 2vh 0vh;
}

.lien
{
    background: #c7ced3;
    margin-bottom: 2vh;
    padding: 1%;
    width: 100%;
    text-align: left;
}