.butt
{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background: #6C7A86;
  transition:background-color 0.25s;
  outline:none;
}


#article-img-modal {
    height:400px;
    width:400px;
    object-fit: cover;
}