.butt
{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background: #6C7A86;
  transition:background-color 0.25s;
  outline:none;
}


#article-img-modal {
    height:400px;
    width:400px;
    object-fit: cover;
}

.titre {
  padding: 0px 0px 20px 50px;
  color:black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.titre-activite
{
  width: 100%;
  font-size: 150%;
  font-weight: bold;
}

.categories
{
  background-color: #ffc252;
  margin: 10vh 0vh 2vh 0vh;
}

.diffidee
{
  background: #ffffff;
  margin-bottom: 2vh;
  padding-top: 1%;
  width: 100%;
}
.div-img
{
    width: 30%;
}

.img
{
    width: 100%;
    margin-bottom: 1vh
}

.description
{
    width: 50%;
}

.ajout-panier
{
    width: 20%;
    text-align: center;
}

.prix
{
  font-weight: bold;
}

.taille_couleur_article{
    color :#000000;
    font-size:20px;


}
.taille_couleur_article:hover{
    text-decoration:none;
    color:#000000;
    border-color:#000000;
    }