img
{
  margin: 0px;
  width:200px;
  height:auto;
  /*opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

hr
{
padding:2px;
background:rgb(115, 115, 160);
border:0;
border-radius: 2px;
}

.img2
{
  margin: 0px;
  width:100px;
  height:auto;
  /*opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.img3
{
  width:30px;
  height:auto;
  float:left;

  margin: 0px 0px 0 0;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.containerz {
  position: relative;
  height:300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #123456;

  margin: 0px 0px 0px 25px;
  padding: 0px 0px 0px 250px;

}

.containerz:hover .overlay {
  opacity: 1;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.image{

  width:200px;
  height:200px;
}

.image2{

  width:300px;
  height:300px;
}

.edit{
  margin: 0px 15px 0 0;
}

#gauche
{
  float:left;

  margin: 0px 20px 0 0;
  padding: 2px 0px 0px 00px;
}


.img2:hover
{
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.produit {

  cursor: pointer;
  color: #333333; 
}
.taille a {
  color: #333333; 
  text-decoration: none;
}

.taille a:hover {
  color: #333333; 
  text-decoration: none;
}

#gauche a {
  color: #333333; 
  text-decoration: none;
}

#gauche a:hover {
  color: #333333; 
  text-decoration: none;
}

#filtr a {
  color: #333333; 
  text-decoration: none;
}

#filtr a:hover {
  color: #333333; 
  text-decoration: none;
}
/* Fond du gadget de la barre de recherche */
.recherche_p {
  margin: auto 0 auto auto;
  background-color: rgba(0, 0, 0, 0);   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 0px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 10px 40px 10px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
}

.row1 {
  padding: 0px 0px 20px 0px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
}
.taille {
  padding: 0px 0px 20px 0px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
}



#best2 {

  padding: 40px 770px 40px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


/* Champ de saisie */
#searchthis #search {
  border-radius: 50px;
  background-color: #ffffff;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 98.5%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
  box-sizing: border-box;   /* Important */
  font-family: Lato;   /* Police du texte */
  font-size: 12px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 1px;   /* Espacement des caractères */
}

/* Bouton valider */
#searchthis #search-btn {
  border-radius: 50px;
  background-color: #7373A0;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #E8B960;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 98.5%;   /* Permet d'ajuster la largeur du champ de saisie à 100% */
  box-sizing: border-box;   /* Important */
  font-family: PT sans;   /* Police du texte */
  font-size: 13px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 2px;   /* Espacement des caractères */
  margin: 10px 0 0 0;   /* Espace autour du bouton : haut droite bas gauche  */
  text-transform: uppercase;   /* Transforme le texte en majuscules */
  color: #ffffff;   /* Couleur du texte */
}

/* Bouton valider quand survolé par la souris */
#searchthis #search-btn:hover {
  background-color: #8093AC;   /* Couleur de fond */
  color: #E8B960;   /* Couleur du texte */
  cursor: pointer;   /* Apparence du curseur comme pour un lien */
}

#onglets
{
    font : bold 22px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 32px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    border-radius : 50px;
    margin-left : 0;

}

#onglets1
{
    list-style-type : none;


}

#onglets li
{
    float : left;
    height : 30px; 
    margin : 2px 2px 0 2px !important; 
    margin : 1px 2px 0 2px;
    border : 1px solid #9EA0A1;
    transition:background-color 0.25s;

}

#onglets li.active
{
    border-bottom: 1px;
}

#onglets a
{
  display : block;
    color : #666;
    text-decoration : none;
    padding : 2px;
}

#onglets a:hover
{
  color: #6C7A86;
  background :rgba(255, 255, 255, .4);
 }

.hiddenz {
  background-color: #F6F6F6;
  border-style: inset;
}
#best {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


/* ======= BOUTONS DE FILTRES/TRI ======= */
.tri {
  /* Style sur les boutons de tri */
}


.active-tri {
  background-color:#879bb5;
}

.active-classer {
  background-color:#879bb5;
}