.article {
    display:inline-block;
    margin:5px;
    transition: all .2s ease-in-out;
    background: #c7ced3;
    overflow: hidden;

}

.article:hover {
transform: scale(1.1);
}


.taille_couleur_article{
    color :#000000;
    font-size:20px;


}
.taille_couleur_article:hover{
    text-decoration:none;
    color:#000000;
    border-color:#000000;
    }

a:link:hover{
    text-decoration:none;
    }


hr {
    padding: 2px;
    background:#000000;
    border:0;
    border-top-right-radius: 100%;
    width: 100%;
    margin-top:-3px;
}

.classer{
    background-color:#ffc252;
}

.active-classer{
    background-color:#9c9c9c;
}
.img-article{
    height:250px;
    width:275px;
    object-fit: cover;
}
.form-act input {
    width:100%;
  }
  
  .form-act textarea {
      margin-top:5px;
      width:100%;
      line-height:2;
      resize: none;
  }
  
  .form-act select {
    width:100%;
  }