/* ============ HEADER ============*/

.header{
    background:linear-gradient(135deg, #7373A0, #879bb5);
    background-color:#879bb5;


    font-family:'Source Sans Pro', sans-serif;
  }

.header .navbar{
    background:transparent;
    padding-top:12px;
    padding-bottom:10px;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
  }

.header .navbar .navbar-brand{
    font-weight:bold;
    color:inherit;
  }
  
.header .navbar .navbar-brand:hover{
    color:#f0f0f0;
  }
  
.header .navbar .navbar-brand img{
    height:100%;
    display:inline-block;
    margin-right:10px;
    width:auto;
  }
  
.header .navbar .navbar-collapse p{
    margin-top:10px;
    margin-bottom:0;
  }
  
.login{
    color:#d9d9d9;
    margin-right:10px;
    text-decoration:none;
    margin-top:-5px;
    
    
  }

  
.login:hover{
    color:#fff;
    text-decoration:none;
  }
  
.header .navbar .navbar-toggle{
    border-color:rgba(255,255,255,0.3);
  }
  
.header .navbar .navbar-toggle:hover, .header .navbar-toggle:focus{
    background:none;
  }
  
.header .navbar .navbar-toggle .icon-bar{
    background-color:#eee;
  }
  
.header .navbar .navbar-collapse, .header .navbar .navbar-form{
    border-color:rgba(255,255,255,0.3);
  }
  
.header .navbar .navbar-nav > .active > a, .header .navbar .navbar-nav > .open > a{
    background:none;
    box-shadow:none;
  }
  
.header .navbar.navbar-default .navbar-nav > .active > a, .header .navbar.navbar-default .navbar-nav > .active > a:focus, .header .navbar.navbar-default .navbar-nav > .active > a:hover{
    color:rgba(255,255,255,0.3);
    box-shadow:none;
    background:none;
    pointer-events:none;
  }
  
.header .navbar.navbar .navbar-nav > li > a{
    padding-left:18px;
    padding-right:18px;
  }
  
.header .navbar.navbar-default .navbar-nav > li > a{
    color:#d9d9d9;
  }
  
.header .navbar.navbar-default .navbar-nav > li > a:focus, .header .navbar.navbar-default .navbar-nav > li > a:hover{
    color:#fcfeff !important;
    background-color:transparent;
  }
  
.header .navbar .navbar-nav > li > .dropdown-menu{
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
.header .navbar .dropdown-menu > li > a:focus, .header .navbar .dropdown-menu > li > a{
    line-height:2;
    font-size:14px;
    color:#37434d;
  }
  
.header .navbar .dropdown-menu > li > a:focus, .header .navbar .dropdown-menu > li > a:hover{
    background:#ebeff1;
  }

  
.header .action-button, .header .action-button:active{
    border:1px solid rgba(255,255,255,0.7);
    border-radius:20px;
    color:#ebeff1;
    box-shadow:none;
    text-shadow:none;
    padding:6px 15px;
    background:transparent;
    transition:background-color 0.25s;
    outline:none;
    margin-top:5px;
  }
  
.header .action-button:hover{
    color:#fff;
  }
  
.header .action-button.btn-lg{
    padding:7px 18px;
  }
  
.header .navbar .navbar-form label{
    color:#ccc;
  }
  
.header .navbar .navbar-form .search-field{
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }

.header .navbar .navbar-form .search-field:focus{
    border-bottom:1px solid #ccc;
  }
  
.header .hero{
    margin-top:60px;
  }

.header .hero h1{
    color:#fff;
    font-size:40px;
    margin-top:190px;
    margin-bottom:24px;
    font-weight:300;
  }

.header .hero p{
    color:rgba(255,255,255,0.8);
    font-size:20px;
    margin-bottom:30px;
    font-weight:300;
  }

.username {
    color: white;
    font-size: 20px;
  }

  /* Panier */
.basket {
  margin-left: 15px;

}

.img-panier {
  width:50px;
  height:50px;
  object-fit: cover;
  border-radius:70px;
  margin-right:20px;
}

.basket-content {
  color:#37434d;
}

.modal {
  color:#37434d;
}

.article-chg {
  float:right;
}

#titre-modal { /* Titre du panier */
    color:#37434d;
    text-align: center;
}

.nb-article {
  margin: 0 5px;
}

#total-articles {
  float:left;
}

#total-prix {
  float:right;
  font-size:17px;
}

button .fas {
  margin-right:5px;
}

.center {
  text-align: center;
}

#panier-icone {
  background-color:transparent;  
}





/* ============ FOOTER ============*/

  .footer-distributed{
    background:linear-gradient(135deg, #7373A0, #879bb5);
    background-color:#879bb5;


    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
  
    padding: 55px 50px;
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    font-weight:bold;
    color:#fff;
    margin: 0;
  }
  
 
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  #5bc2f1;
    text-decoration: none;;
  }
  
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
 
  .bouton-cookies
  {
      min-width: 92px;
      margin-bottom: 1vh;
      text-align: center;
      border:0px;
      border-radius:5px;
      color:#ebeff1;
      box-shadow:none;
      text-shadow:none;
      padding:6px 15px;
      background: #6C7A86;
      transition:background-color 0.25s;
      outline:none;
  }

  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }