.navbar
{
    margin-bottom:0px;
}

.navbar-back-office
{   
    background:linear-gradient(135deg, #3c4753, #96adca) !important;
    background-color:#96adca !important;
}

.hr-navbar
{
    margin:0px !important;
    background: #ebeff1;
    border-radius: 0% !important;
    padding: 1px !important;
}

a:link
{
    text-decoration: none;
}

.bouton-gestion
{
    text-align: center;
    border:0px;
    border-radius:5px;
    color:#ebeff1;
    box-shadow:none;
    text-shadow:none;
    padding:15px 15px;
    margin:10px;
    background: transparent;
    transition:background-color 0.25s;
    outline:none;
}

.bouton-gestion:hover
{
    background: transparent;
    color: #c7ced3;
}

.bouton-gestion:focus
{
    background: none !important;
    color:rgba(255,255,255,0.3);
    box-shadow: none !important;
}

.active
{
    pointer-events: none;
    color:rgba(255,255,255,0.3) !important;
}

th
{
    padding-left:6px !important;
}

.left {
    text-align:left ;
}

.right {
    text-align:right;
}

.center{
    text-align: center;
  }

th,td {
    word-wrap: break-word;
    
}

textarea
{
    height: 15vh;
    max-width: 6vw;
    resize: none;
    border: none;
    background: none;
    vertical-align: -webkit-baseline-middle;
}
textarea:hover
{
    cursor: default;
}

textarea:focus
{
    outline: none;
}

table {
    table-layout: fixed;
}

hr
{
    padding: 2px;
    background:rgb(115, 115, 160);
    border:0;
    border-top-right-radius: 100%;
    margin: 1vh 0vh -5vh 0vh;
    width: 100%;
}

.titre {
    padding: 0vh 20vw 5vh 0vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titre-activite
{
    width: 100%;
    font-size: 150%;
    font-weight: bold;
}
input
{
    width: 100%;
}

.categories
{
    background-color: #8a9aac;
    margin: 10vh 0vh 2vh 0vh;
}

.diffidee
{
    background: #c7ced3;
    margin-bottom: 2vh;
    padding-top: 1%;
    width: 100%;
}

.div-img
{
    width: 30%;
}

.img
{
    width: 100%;
    margin-bottom: 1vh
}

.idee
{
    width: 58%;
}

.upvote
{
    width: 12%;
    text-align: center;
}

/* =========== AJOUT / SUPPRESION ACTIVITES =========== */
.form-act label {
    display:block;
  }
  
  .form-act input {
    width:100%;
  }
  
  .form-act textarea {
    width:100%;
    height:250px;
    resize: none;
  }
  
  .form-act button[type='submit'] {
    margin :5px 0;
  }

